
@{
    ViewData["Title"] = "View";
}

<h3>Ryan Heffernan</h3>
<h3>Student Number: 040608416</h3>
<p>Hello and welcome to my website. I find the labs help me see the code and understand the concepts you are trying to teach.</p>

