
@{
    ViewData["Title"] = "View";
}

<h3>Ryan Heffernan</h3>
<h3>Student Number: 040608416</h3>
<p>Welcome to the Real Estate Market.</p>
<ul>
<li>
    <a asp-controller="Clients" asp-action="Index">Clients</a>
</li>
<li>
    <a asp-controller="Brokerages" asp-action="Index">Brokerages</a>
</li>
</ul>

